@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 0;
  font-family: 'Kalam', 'Quicksand', 'bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
